<script type="text/javascript">
    $(document).ready(function () {
        $("#basic-formfactor").html(WURFL.form_factor);
    });
</script>

<div class="topbar center">
    Detected form factor: &nbsp;
    <span id="basic-formfactor"></span>
</div>

<div class="center">
    <p>brought to you by WURFL.js :: <a href="http://www.scientiamobile.com">ScientiaMobile</a></p>
</div>