<div class="topbar center">
    <h1>WURFL.js</h1>
</div>

<div style="padding:10px">
    <a href="/home/basic">Basic WURFL.js</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/multi.html">Client-side Multi-View</a>
</div>