<link href="/Content/Styles/ratchet.min.css" rel="stylesheet">
<script src="/Content/Scripts/ratchet.min.js"></script>

<header class="bar bar-nav">
    <h1 class="title">Smartphone</h1>
</header>
<div class="content">
    <p class="content-padded">
        Thanks for taking the <b>Architecting Device-driven Web Solutions</b> class. This is an example HTML 
        page implemented as a Razor partial view. The markup is built using the <a href="http://goratchet.com">Ratchet</a> 
        library. The partial view is downloaded via JavaScript once <b>WURFL.js</b> has determined the form factor of the device.
    </p>
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell">
                <a class="push-right" href="http://goratchet.com">
                    <strong>Ratchet documentation</strong>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="push-right" href="http://wurfl.io/">
                    <strong>WURFL.js documentation</strong>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="push-right" href="http://www.pluralsight.com">
                    <strong>Pluralsight</strong>
                </a>
            </li>
        </ul>
    </div>
</div>


